openapi: 3.1.0
info:
  title: The Book Project API
  version: 1.0.0
  description: |
    Source-of-truth OpenAPI specification for the Book Project REST API. All endpoints return
    a consistent JSON envelope and support either Bearer access tokens or API keys unless
    explicitly marked public.
  license:
    name: The Book Project Source-Available Proprietary License
    url: https://bookproject.fjnel.co.za
servers:
  - url: https://api.fjnel.co.za
    description: Production server
  - url: http://127.0.0.1:4000
    description: Local development
security:
  - bearerAuth: []
  - apiKeyHeader: []
  - apiKeyAuthHeader: []
tags:
  - name: Meta
    description: Service metadata and health endpoints.
  - name: Auth
    description: Registration, login, tokens, and account security flows.
  - name: Users
    description: Authenticated user self-service actions.
  - name: BookTypes
    description: Manage book format/type taxonomy for a user.
  - name: Authors
    description: Author records and related maintenance.
  - name: Publishers
    description: Publisher records and related maintenance.
  - name: Series
    description: Series records and related maintenance.
  - name: BookSeriesLinks
    description: Linking books to series and ordering within a series.
  - name: Languages
    description: Language catalogue (admin-controlled).
  - name: Books
    description: Book records, filtering, and stats.
  - name: StorageLocations
    description: Storage locations/shelves for physical copies.
  - name: BookCopies
    description: Individual physical copies and acquisition metadata.
  - name: Tags
    description: Tag catalogue and book-tag links.
  - name: Search
    description: Cross-entity search endpoints.
  - name: ImportExport
    description: Import/export utilities.
  - name: Logs
    description: Audit and HTTP logs.
  - name: Timeline
    description: Time-based aggregations for books and acquisitions.
  - name: Admin
    description: Admin-only endpoints and elevated user management.
  - name: Stats
    description: Statistics and aggregates across entities.
paths:
  /:
    get:
      tags: [Meta]
      summary: API base
      operationId: getApiBase
      description: Health check that confirms the API is reachable and returns the docs URL.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          timestamp:
                            type: string
                          apiDocumentationUrl:
                            type: string
              examples:
                success:
                  summary: Base check
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '1.08'
                    message: The API is working!
                    data:
                      timestamp: '2025-01-14T17:23:51Z'
                      apiDocumentationUrl: https://api.fjnel.co.za/docs/
                    errors: []
        '404':
          $ref: '#/components/responses/NotFound'
  /health:
    get:
      tags: [Meta]
      summary: Health check
      operationId: getHealth
      description: Simple uptime monitor endpoint.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          status:
                            type: string
                          timestamp:
                            type: string
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '1.12'
                    message: OK
                    data:
                      status: ok
                      timestamp: 2026-01-02T15:59:12.921Z
                    errors: []
        '429':
          $ref: '#/components/responses/RateLimit'
  /rate-limits:
    get:
      tags: [Meta]
      summary: Rate limit status
      operationId: getRateLimits
      description: Return current rate-limit window for the authenticated user.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter (shared bucket across authenticated endpoints)
      responses:
        '200':
          description: Current bucket
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RateLimitStatus'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '1.74'
                    message: Rate limit status retrieved successfully.
                    data:
                      limit: 60
                      remaining: 54
                      resetTime: 2026-01-02T16:05:00.000Z
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /auth/register:
    post:
      tags: [Auth]
      summary: Register
      operationId: registerUser
      description: Create a new user account. CAPTCHA required for the `register` action.
      security: []
      x-rateLimit:
        limit: 5
        window: 10m
        note: captchaLimiter action=register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              default:
                summary: Typical registration
                value:
                  captchaToken: "<captcha-token>"
                  fullName: Jane Doe
                  preferredName: Jane
                  email: jane@example.com
                  password: P@ssw0rd123!
      responses:
        '200':
          description: Registration accepted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          disclaimer:
                            type: string
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '2.58'
                    message: If this email can be registered, you will receive an email with the next steps shortly.
                    data:
                      disclaimer: If you do not see an email within a few minutes, please check your spam folder or try again later.
                    errors: []
                captchaFailure:
                  summary: CAPTCHA failed
                  value:
                    status: error
                    httpCode: 400
                    responseTime: '5.44'
                    message: CAPTCHA verification failed
                    data: {}
                    errors:
                      - Please refresh the page and try again.
                      - Make sure that you provided a captchaToken in your request.
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /auth/resend-verification:
    post:
      tags: [Auth]
      summary: Resend verification email
      operationId: resendVerificationEmail
      description: Resend verification email for an unverified account. CAPTCHA action `resend_verification`.
      security: []
      x-rateLimit:
        limit: 1
        window: 5m
        note: captchaLimiter action=resend_verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [captchaToken, email]
              properties:
                captchaToken:
                  type: string
                email:
                  type: string
                  format: email
            examples:
              default:
                summary: Resend verification
                value:
                  captchaToken: "<captcha-token>"
                  email: jane@example.com
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '3.12'
                    message: If you have registered an account with this email address and it is unverified, you will receive a verification email.
                    data:
                      disclaimer: If you did not receive an email when you should have, please check your spam folder or try again later.
                    errors: []
                captchaFailure:
                  value:
                    status: error
                    httpCode: 400
                    responseTime: '5.27'
                    message: CAPTCHA verification failed
                    data: {}
                    errors:
                      - Please refresh the page and try again.
                      - Make sure that you provided a captchaToken in your request.
        '400':
          $ref: '#/components/responses/ValidationError'
  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify email
      operationId: verifyEmail
      description: Verify user email using token sent during registration. CAPTCHA action `verify_email`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [captchaToken, email, token]
              properties:
                captchaToken:
                  type: string
                email:
                  type: string
                  format: email
                token:
                  type: string
      responses:
        '200':
          description: Verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email/password
      operationId: loginWithEmail
      description: Authenticate and issue access/refresh tokens. CAPTCHA action `login`.
      security: []
      x-rateLimit:
        limit: 10
        window: 10m
        note: captchaLimiter action=login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              default:
                $ref: '#/components/examples/authLoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponseData'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '18.02'
                    message: Login successful.
                    data:
                      accessToken: <jwt>
                      refreshToken: <jwt>
                      user:
                        id: 12
                        email: jane@example.com
                        fullName: Jane Doe
                        preferredName: Jane
                        role: user
                        isVerified: true
                        passwordUpdated: 2024-07-11T10:22:33.000Z
                        lastLogin: 2025-01-17T09:20:11.000Z
                    errors: []
                invalidCredentials:
                  summary: Invalid credentials
                  value:
                    status: error
                    httpCode: 401
                    responseTime: '6.51'
                    message: Invalid email or password.
                    data: {}
                    errors:
                      - The provided email or password is incorrect
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthError'
  /auth/refresh-token:
    post:
      tags: [Auth]
      summary: Refresh access token
      operationId: refreshAccessToken
      description: Exchange a refresh token for a new access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
            examples:
              default:
                summary: Refresh access token
                value:
                  refreshToken: "<refresh-token>"
      responses:
        '200':
          description: Refreshed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '7.81'
                    message: Access token refreshed.
                    data:
                      accessToken: "<new-jwt>"
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthError'
  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      operationId: logout
      description: Revoke a single refresh token or all sessions for the authenticated user.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
            examples:
              singleSession:
                value:
                  refreshToken: "<refresh-token>"
                  allDevices: false
              allSessions:
                value:
                  allDevices: true
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                single:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "5.94"
                    message: Logged out successfully.
                    data:
                      scope: single
                      revokedSessions: 1
                    errors: []
                all:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "6.12"
                    message: Logged out successfully.
                    data:
                      scope: all
                      revokedSessions: 5
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /auth/request-password-reset:
    post:
      tags: [Auth]
      summary: Request password reset
      operationId: requestPasswordReset
      description: Send password reset email if account exists. CAPTCHA action `request_password_reset`.
      security: []
      x-rateLimit:
        limit: 1
        window: 5m
        note: captchaLimiter action=request_password_reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [captchaToken, email]
              properties:
                captchaToken:
                  type: string
                email:
                  type: string
                  format: email
            examples:
              default:
                summary: Request reset
                value:
                  captchaToken: "<captcha-token>"
                  email: jane@example.com
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "3.84"
                    message: If you have registered an account with this email address, you will receive a password reset email.
                    data:
                      disclaimer: If you did not receive an email when you should have, please check your spam folder or try again later.
                    errors: []
                captchaFailure:
                  value:
                    status: error
                    httpCode: 400
                    responseTime: "5.09"
                    message: CAPTCHA verification failed
                    data: {}
                    errors:
                      - Please refresh the page and try again.
                      - Make sure that you provided a captchaToken in your request.
        '400':
          $ref: '#/components/responses/ValidationError'
  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password
      operationId: resetPassword
      description: Reset password using emailed token. CAPTCHA action `reset_password`.
      security: []
      x-rateLimit:
        limit: 1
        window: 5m
        note: captchaLimiter action=reset_password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
            examples:
              default:
                summary: Reset password
                value:
                  captchaToken: "<captcha-token>"
                  email: jane@example.com
                  token: "<reset-token>"
                  newPassword: NewP@ssw0rd123!
      responses:
        '200':
          description: Reset complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "9.42"
                    message: Password reset successfully. You can now log in.
                    data:
                      id: 12
                      email: jane@example.com
                      passwordUpdated: "2025-01-17T09:02:44.000Z"
                    errors: []
                invalidToken:
                  value:
                    status: error
                    httpCode: 400
                    responseTime: "6.74"
                    message: Token expired or incorrect email address
                    data: {}
                    errors:
                      - The provided token is invalid, has expired, or the email address is incorrect.
                      - Please request a new password reset email.
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /auth/google:
    post:
      tags: [Auth]
      summary: Login with Google
      operationId: loginWithGoogle
      description: Sign up or sign in using a verified Google ID token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken:
                  type: string
            examples:
              default:
                summary: Google sign-in
                value:
                  idToken: "<google-id-token>"
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponseData'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "19.77"
                    message: Login successful.
                    data:
                      accessToken: "<jwt>"
                      refreshToken: "<jwt>"
                      user:
                        id: 12
                        email: jane@example.com
                        fullName: Jane Doe
                        preferredName: Jane
                        role: user
                        isVerified: true
                        passwordUpdated: null
                        lastLogin: "2025-01-17T09:20:11.000Z"
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthError'
  /users/me:
    get:
      tags: [Users]
      summary: Get my profile
      operationId: getMyProfile
      description: Retrieve authenticated user's profile and connected OAuth providers.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '4.73'
                    message: User profile retrieved successfully.
                    data:
                      id: 12
                      email: jane@example.com
                      fullName: Jane Doe
                      preferredName: Jane
                      role: user
                      isVerified: true
                      isDisabled: false
                      passwordUpdated: "2025-01-15T11:01:11.000Z"
                      lastLogin: "2025-01-17T09:20:11.000Z"
                      oauthProviders:
                        - google
                      createdAt: "2025-01-10T09:15:23.000Z"
                      updatedAt: "2025-01-14T16:58:41.000Z"
                    errors: []
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Users]
      summary: Update my profile
      operationId: updateMyProfile
      description: Update fullName and/or preferredName.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
            examples:
              updateNames:
                summary: Update preferred and full name
                value:
                  fullName: Jane Q. Doe
                  preferredName: Jan
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '6.41'
                    message: User profile updated successfully.
                    data:
                      id: 12
                      email: jane@example.com
                      fullName: Jane Q. Doe
                      preferredName: Jan
                      role: user
                      isVerified: true
                      isDisabled: false
                      passwordUpdated: "2025-01-15T11:01:11.000Z"
                      lastLogin: "2025-01-17T09:20:11.000Z"
                      createdAt: "2025-01-10T09:15:23.000Z"
                      updatedAt: "2025-01-17T08:44:02.000Z"
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/AuthError'
    delete:
      tags: [Users]
      summary: Request account disable
      operationId: requestAccountDisable
      description: Initiate soft-delete and send confirmation email. Daily quota enforced plus email cost limiter.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter + emailCostLimiter
      responses:
        '200':
          description: Requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: '6.07'
                    message: Check your email to confirm this action.
                    data:
                      disclaimer: Your account will remain active until you confirm the disable request via the link we sent.
                    errors: []
        '404':
          $ref: '#/components/responses/NotFound'
  /users/me/verify-delete:
    post:
      tags: [Users]
      summary: Confirm account disable
      operationId: verifyAccountDisable
      description: Confirm disable request with email+token and CAPTCHA. Invalid token/email/captcha are returned as a generic invalid/expired token to avoid enumeration.
      security: []
      x-rateLimit:
        limit: 3
        window: 5m
        note: sensitiveActionLimiter + captchaLimiter action=verify_delete + emailCostLimiter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email, captchaToken]
              properties:
                token:
                  type: string
                email:
                  type: string
                  format: email
                captchaToken:
                  type: string
            examples:
              verifyDelete:
                value:
                  token: "<verification-token>"
                  email: jane@example.com
                  captchaToken: "<captcha-token>"
      responses:
        '200':
          description: Disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "5.01"
                    message: Account disabled successfully.
                    data:
                      revokedSessions: 3
                    errors: []
        '400':
          description: Invalid or expired token, or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                invalidToken:
                  $ref: '#/components/examples/invalidTokenExample'
                validationError:
                  value:
                    status: error
                    httpCode: 400
                    responseTime: "2.22"
                    message: Validation Error
                    data: {}
                    errors:
                      - Email address is required.
        '422':
          $ref: '#/components/responses/ValidationError'
  /users/me/request-email-change:
    post:
      tags: [Users]
      summary: Request email change
      operationId: requestEmailChange
      description: Send verification link to change account email. Email cost limiter enforced.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter + emailCostLimiter
      x-dailyQuota:
        limit: 1
        window: day
        scope: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newEmail]
              properties:
                newEmail:
                  type: string
                  format: email
      responses:
        '200':
          description: Requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "4.90"
                    message: Check your email to confirm this action.
                    data:
                      disclaimer: If you did not receive an email when you should have, please check your spam folder or try again later.
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/DailyQuotaExceeded429'
  /users/me/verify-email-change:
    post:
      tags: [Users]
      summary: Confirm email change
      operationId: confirmEmailChange
      description: Confirm email change via token; CAPTCHA protected. Invalid token/email/password/captcha all return the same invalid token response to prevent enumeration.
      security: []
      x-rateLimit:
        limit: 3
        window: 5m
        note: sensitiveActionLimiter + captchaLimiter + emailCostLimiter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailChangeRequest'
            examples:
              confirm:
                summary: Confirm email change
                value:
                  token: "<email-change-token>"
                  oldEmail: jane@example.com
                  newEmail: jane.new@example.com
                  password: P@ssw0rd123!
                  captchaToken: "<captcha-token>"
      responses:
        '200':
          description: Email updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "5.10"
                    message: Your email address has been updated.
                    data:
                      disclaimer: Please log in with your new email address. You have been signed out on all devices.
                    errors: []
        '400':
          description: Invalid or expired token, or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                invalidToken:
                  $ref: '#/components/examples/invalidTokenExample'
                validationError:
                  value:
                    status: error
                    httpCode: 400
                    responseTime: "2.22"
                    message: Validation Error
                    data: {}
                    errors:
                      - Your current email address is required.
        '409':
          $ref: '#/components/responses/Conflict'
  /users/me/request-account-deletion:
    post:
      tags: [Users]
      summary: Request account deletion (POST)
      operationId: requestAccountDeletionPost
      description: Start delete flow (also available as DELETE). Email cost limiter enforced. Request body is not used.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter + emailCostLimiter
      x-dailyQuota:
        limit: 2
        window: day
        scope: account
        sharedAcrossMethods: [POST, DELETE]
      responses:
        '200':
          description: Requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "6.07"
                    message: Check your email to confirm this deletion request.
                    data:
                      disclaimer: Our support team will only be notified after you confirm via the email link.
                    errors: []
        '429':
          $ref: '#/components/responses/DailyQuotaExceeded429'
    delete:
      tags: [Users]
      summary: Request account deletion (DELETE)
      operationId: requestAccountDeletionDelete
      description: Start delete flow using DELETE verb. Email cost limiter enforced. Request body is not used.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter + emailCostLimiter
      x-dailyQuota:
        limit: 2
        window: day
        scope: account
        sharedAcrossMethods: [POST, DELETE]
      responses:
        '200':
          description: Requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "6.07"
                    message: Check your email to confirm this deletion request.
                    data:
                      disclaimer: Our support team will only be notified after you confirm via the email link.
                    errors: []
        '429':
          $ref: '#/components/responses/DailyQuotaExceeded429'
  /users/me/verify-account-deletion:
    post:
      tags: [Users]
      summary: Confirm account deletion
      operationId: verifyAccountDeletion
      description: Confirm permanent deletion using email + token + password + explicit confirmation + CAPTCHA. Invalid token/email/password/captcha return the same invalid token response to prevent enumeration.
      security: []
      x-rateLimit:
        limit: 3
        window: 5m
        note: sensitiveActionLimiter + captchaLimiter + emailCostLimiter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyAccountDeletionRequest'
            examples:
              confirmDeletion:
                summary: Confirm deletion
                value:
                  token: "<verification-token>"
                  email: jane@example.com
                  password: P@ssw0rd123!
                  confirm: true
                  captchaToken: "<captcha-token>"
      responses:
        '200':
          description: Confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "5.01"
                    message: Your request has been forwarded to our support team.
                    data:
                      disclaimer: A member of our team will contact you on the confirmed email address to finalize the deletion.
                    errors: []
        '400':
          description: Invalid or expired token, or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                invalidToken:
                  $ref: '#/components/examples/invalidTokenExample'
                validationError:
                  value:
                    status: error
                    httpCode: 400
                    responseTime: "2.22"
                    message: Validation Error
                    data: {}
                    errors:
                      - Email address is required.
  /users/me/sessions:
    get:
      tags: [Users]
      summary: List my sessions
      operationId: listMySessions
      description: List active refresh token fingerprints for the authenticated user.
      x-rateLimit:
        limit: 60
        window: minute
      responses:
        '200':
          description: Sessions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          sessions:
                            type: array
                            items:
                              $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/AuthError'
    delete:
      tags: [Users]
      summary: Revoke all sessions
      operationId: revokeAllSessions
      description: Revoke all refresh tokens for current user.
      x-rateLimit:
        limit: 60
        window: minute
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/AuthError'
  /users/me/sessions/{fingerprint}:
    delete:
      tags: [Users]
      summary: Revoke session by fingerprint
      operationId: revokeSessionByFingerprint
      description: Revoke a single session fingerprint.
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/fingerprint'
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/AuthError'
  /users/me/change-password:
    post:
      tags: [Users]
      summary: Change password
      operationId: changeMyPassword
      description: Change password with current password, protected by sensitive limiter and email cost.
      x-rateLimit:
        limit: 60
        window: minute
        note: authenticatedLimiter + sensitiveActionLimiter + emailCostLimiter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
  /users/me/api-keys:
    get:
      tags: [Users]
      summary: List API keys
      operationId: listApiKeys
      description: List API keys for the authenticated user.
      x-rateLimit:
        limit: 60
        window: minute
      responses:
        '200':
          description: Keys
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          apiKeys:
                            type: array
                            items:
                              $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/AuthError'
    post:
      tags: [Users]
      summary: Create API key
      operationId: createApiKey
      description: Create a new API key.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                expiresAt:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ApiKeyCreated'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/AuthError'
    delete:
      tags: [Users]
      summary: Revoke API keys
      operationId: revokeApiKeys
      description: Revoke an API key by name or id; when neither is supplied, revokes all keys.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/AuthError'
  /users/me/stats:
    get:
      tags: [Users, Stats]
      summary: User stats
      operationId: getMyStats
      description: Retrieve per-user statistics (sessions, api keys, books summary). Uses statsLimiter.
      x-rateLimit:
        limit: 20
        window: minute
        note: statsLimiter keyed by user.id
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          stats:
                            type: object
              examples:
                stats:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.12"
                    message: User stats retrieved successfully.
                    data:
                      stats:
                        accountAgeDays: 320
                        activityRecencyDays: 2
                        isVerified: true
                        passwordSet: true
                        passwordFreshnessDays: 45
                        profileCompletenessScore: 100
                        books: 48
                        deletedBooks: 2
                        authors: 20
                        deletedAuthors: 1
                        publishers: 8
                        deletedPublishers: 0
                        series: 6
                        deletedSeries: 1
                        bookTypes: 5
                        tags: 12
                        languages: 4
                        storageLocations: 6
                        bookCopies: 70
                        apiKeys: 2
                    errors: []
        '429':
          $ref: '#/components/responses/RateLimit'
  /booktype:
    get:
      tags: [BookTypes]
      summary: List or fetch book types
      operationId: listBookTypes
      description: List book types with filtering or fetch a single record by id/name. JSON body and query fields are both accepted; body wins.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookTypeListRequest'
            examples:
              listSorted:
                summary: List book types with filters
                value:
                  sortBy: name
                  order: asc
                  limit: 20
                  filterName: cover
              singleByName:
                summary: Fetch single by name with stats
                value:
                  name: Hardcover
                  returnStats: true
      responses:
        '200':
          description: Book types
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BookTypeList'
              examples:
                successList:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.41"
                    message: Book types retrieved successfully.
                    data:
                      bookTypes:
                        - id: 1
                          name: Hardcover
                          description: Hardback edition with rigid cover.
                          createdAt: "2025-01-10T09:15:23.000Z"
                          updatedAt: "2025-01-14T16:58:41.000Z"
                        - id: 2
                          name: Softcover
                          description: null
                          createdAt: "2025-01-10T09:15:23.000Z"
                          updatedAt: "2025-01-14T16:58:41.000Z"
                    errors: []
                statsIncluded:
                  summary: Single result with stats
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.58"
                    message: Book type retrieved successfully.
                    data:
                      bookTypes:
                        - id: 1
                          name: Hardcover
                          description: Hardback edition with rigid cover.
                          createdAt: "2025-01-10T09:15:23.000Z"
                          updatedAt: "2025-01-14T16:58:41.000Z"
                          stats:
                            bookCount: 12
                            percentageOfBooks: 60.0
                            avgPageCount: 510.25
                    errors: []
                notFound:
                  value:
                    status: error
                    httpCode: 404
                    responseTime: "2.84"
                    message: Book type not found.
                    data: {}
                    errors:
                      - The requested book type could not be located.
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [BookTypes]
      summary: Create book type
      operationId: createBookType
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookTypeCreate'
            examples:
              create:
                summary: Create a new book type
                value:
                  name: Illustrated Edition
                  description: Special edition with collector illustrations.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 201
                    responseTime: "4.33"
                    message: Book type created successfully.
                    data:
                      id: 10
                      name: Illustrated Edition
                      description: Special edition with collector illustrations.
                      createdAt: "2025-01-17T10:02:11.000Z"
                      updatedAt: "2025-01-17T10:02:11.000Z"
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'
    put:
      tags: [BookTypes]
      summary: Update book type (by id or name)
      operationId: updateBookType
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookTypeUpdateFlexible'
            examples:
              updateById:
                summary: Update book type by id
                value:
                  id: 10
                  name: Hardcover
                  description: Updated description.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "3.92"
                    message: Book type updated successfully.
                    data:
                      id: 10
                      name: Hardcover
                      description: Updated description.
                      createdAt: "2025-01-17T10:02:11.000Z"
                      updatedAt: "2025-01-17T10:05:48.000Z"
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [BookTypes]
      summary: Delete book type (by id or name)
      operationId: deleteBookType
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookTypeDeleteFlexible'
            examples:
              deleteByName:
                summary: Delete by name
                value:
                  name: Hardcover
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.48"
                    message: Book type deleted successfully.
                    data:
                      id: 10
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/AuthError'
  /booktype/stats:
    get:
      tags: [BookTypes, Stats]
      summary: Book type statistics
      operationId: getBookTypeStats
      description: Aggregate counts and averages for book types. Body fields may also be provided via query.
      x-rateLimit:
        limit: 20
        window: minute
        note: statsLimiter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookTypeStatsRequest'
            examples:
              allFields:
                summary: Request all stats
                value:
                  fields:
                    - bookTypeBreakdown
                    - mostCollectedType
                    - leastCollectedType
                    - avgPageCountByType
                    - booksMissingType
                    - breakdownPerBookType
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BookTypeStatsResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.64"
                    message: Book type stats retrieved successfully.
                    data:
                      stats:
                        bookTypeBreakdown:
                          - id: 1
                            name: Hardcover
                            bookCount: 12
                            percentage: 60.0
                          - id: 2
                            name: Softcover
                            bookCount: 8
                            percentage: 40.0
                        mostCollectedType:
                          id: 1
                          name: Hardcover
                          bookCount: 12
                          percentage: 60.0
                        leastCollectedType:
                          id: 2
                          name: Softcover
                          bookCount: 8
                          percentage: 40.0
                        avgPageCountByType:
                          - id: 1
                            name: Hardcover
                            avgPageCount: 510.25
                        booksMissingType: 0
                        breakdownPerBookType:
                          - id: 1
                            name: Hardcover
                            bookCount: 12
                            percentage: 60.0
                            avgPageCount: 510.25
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
  /booktype/{id}:
    get:
      tags: [BookTypes]
      summary: Get book type by id
      operationId: getBookTypeById
      description: Retrieve a book type and optionally include stats.
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                returnStats:
                  type: boolean
            examples:
              includeStats:
                summary: Include stats
                value:
                  returnStats: true
      responses:
        '200':
          description: Book type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "3.02"
                    message: Book type retrieved successfully.
                    data:
                      id: 2
                      name: Softcover
                      description: null
                      createdAt: "2025-01-10T09:15:23.000Z"
                      updatedAt: "2025-01-14T16:58:41.000Z"
                      stats:
                        bookCount: 8
                        percentageOfBooks: 40.0
                        avgPageCount: 342.5
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [BookTypes]
      summary: Update book type by id
      operationId: updateBookTypeById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookTypeUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [BookTypes]
      summary: Delete book type by id
      operationId: deleteBookTypeById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /booktype/by-name:
    get:
      tags: [BookTypes]
      summary: Get book type by name
      operationId: getBookTypeByName
      description: Retrieve a book type by name, optionally include stats. Body and query accepted; body wins.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                id:
                  type: integer
                name:
                  type: string
                returnStats:
                  type: boolean
            examples:
              byName:
                summary: Lookup by name
                value:
                  name: Hardcover
                  returnStats: true
      responses:
        '200':
          description: Book type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.78"
                    message: Book type retrieved successfully.
                    data:
                      id: 1
                      name: Hardcover
                      description: Hardback edition with rigid cover.
                      createdAt: "2025-01-10T09:15:23.000Z"
                      updatedAt: "2025-01-14T16:58:41.000Z"
                      stats:
                        bookCount: 12
                        percentageOfBooks: 60.0
                        avgPageCount: 510.25
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
  /author:
    get:
      tags: [Authors]
      summary: List or fetch authors
      operationId: listAuthors
      description: List authors with filtering or fetch single by id/name. Body fields also allowed via query; body wins.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorListRequest'
            examples:
              listDeceased:
                summary: List deceased authors sorted by death year
                value:
                  filterDeceased: true
                  sortBy: deathYear
                  order: desc
                  limit: 20
              singleByName:
                summary: Fetch single by display name with stats
                value:
                  displayName: "J.R.R. Tolkien"
                  returnStats: true
      responses:
        '200':
          description: Authors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthorList'
              examples:
                list:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.78"
                    message: Authors retrieved successfully.
                    data:
                      authors:
                        - id: 1
                          displayName: "J.R.R. Tolkien"
                          firstNames: "John Ronald Reuel"
                          lastName: Tolkien
                          birthDate:
                            id: 12
                            day: 3
                            month: 1
                            year: 1892
                            text: "3 January 1892"
                          deceased: true
                          deathDate:
                            id: 13
                            day: 2
                            month: 9
                            year: 1973
                            text: "2 September 1973"
                          bio: Author of The Lord of the Rings.
                          createdAt: "2025-01-10T09:15:23.000Z"
                          updatedAt: "2025-01-14T16:58:41.000Z"
                    errors: []
                stats:
                  summary: Single author with stats
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.90"
                    message: Author retrieved successfully.
                    data:
                      authors:
                        - id: 1
                          displayName: "J.R.R. Tolkien"
                          firstNames: "John Ronald Reuel"
                          lastName: Tolkien
                          birthDate:
                            id: 12
                            day: 3
                            month: 1
                            year: 1892
                            text: "3 January 1892"
                          deceased: true
                          deathDate:
                            id: 13
                            day: 2
                            month: 9
                            year: 1973
                            text: "2 September 1973"
                          bio: Author of The Lord of the Rings.
                          createdAt: "2025-01-10T09:15:23.000Z"
                          updatedAt: "2025-01-14T16:58:41.000Z"
                          stats:
                            bookCount: 6
                            percentageOfBooks: 12.5
                            firstPublicationYear: 1937
                            lastPublicationYear: 1973
                    errors: []
                notFound:
                  value:
                    status: error
                    httpCode: 404
                    responseTime: "2.84"
                    message: Author not found.
                    data: {}
                    errors:
                      - The requested author could not be located.
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [Authors]
      summary: Create author
      operationId: createAuthor
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorCreate'
            examples:
              create:
                summary: Create author
                value:
                  displayName: "J.R.R. Tolkien"
                  firstNames: "John Ronald Reuel"
                  lastName: Tolkien
                  birthDate:
                    day: 3
                    month: 1
                    year: 1892
                    text: "3 January 1892"
                  deceased: true
                  deathDate:
                    day: 2
                    month: 9
                    year: 1973
                    text: "2 September 1973"
                  bio: English writer and philologist.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 201
                    responseTime: "4.33"
                    message: Author created successfully.
                    data:
                      id: 10
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'
    put:
      tags: [Authors]
      summary: Update author by body (id or displayName)
      operationId: updateAuthor
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorUpdateFlexible'
            examples:
              updateByName:
                summary: Update author using displayName
                value:
                  displayName: "J.R.R. Tolkien"
                  bio: Updated bio text.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "3.92"
                    message: Author updated successfully.
                    data:
                      id: 10
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Authors]
      summary: Delete author (by id or displayName)
      operationId: deleteAuthor
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorDeleteFlexible'
            examples:
              deleteById:
                summary: Delete author by id
                value:
                  id: 10
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.48"
                    message: Author deleted successfully.
                    data:
                      id: 10
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
  /author/{id}:
    get:
      tags: [Authors]
      summary: Get author by id
      operationId: getAuthorById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                returnStats:
                  type: boolean
            examples:
              includeStats:
                summary: Include stats
                value:
                  returnStats: true
      responses:
        '200':
          description: Author
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "3.02"
                    message: Author retrieved successfully.
                    data:
                      id: 1
                      displayName: "J.R.R. Tolkien"
                      firstNames: "John Ronald Reuel"
                      lastName: Tolkien
                      birthDate:
                        id: 12
                        day: 3
                        month: 1
                        year: 1892
                        text: "3 January 1892"
                      deceased: true
                      deathDate:
                        id: 13
                        day: 2
                        month: 9
                        year: 1973
                        text: "2 September 1973"
                      bio: Author of The Lord of the Rings.
                      createdAt: "2025-01-10T09:15:23.000Z"
                      updatedAt: "2025-01-14T16:58:41.000Z"
                      stats:
                        bookCount: 6
                        percentageOfBooks: 30.0
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Authors]
      summary: Update author by id
      operationId: updateAuthorById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Authors]
      summary: Delete author by id
      operationId: deleteAuthorById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /author/by-name:
    get:
      tags: [Authors]
      summary: Get author by name
      operationId: getAuthorByName
      description: Retrieve author by displayName. Body and query accepted; body wins.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required: [displayName]
              properties:
                id:
                  type: integer
                displayName:
                  type: string
                returnStats:
                  type: boolean
            examples:
              byName:
                summary: Lookup by display name
                value:
                  displayName: "J.R.R. Tolkien"
                  returnStats: true
      responses:
        '200':
          description: Author
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.78"
                    message: Author retrieved successfully.
                    data:
                      id: 1
                      displayName: "J.R.R. Tolkien"
                      firstNames: "John Ronald Reuel"
                      lastName: Tolkien
                      birthDate:
                        id: 12
                        day: 3
                        month: 1
                        year: 1892
                        text: "3 January 1892"
                      deceased: true
                      deathDate:
                        id: 13
                        day: 2
                        month: 9
                        year: 1973
                        text: "2 September 1973"
                      bio: Author of The Lord of the Rings.
                      createdAt: "2025-01-10T09:15:23.000Z"
                      updatedAt: "2025-01-14T16:58:41.000Z"
                      stats:
                        bookCount: 6
                        percentageOfBooks: 30.0
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
  /author/trash:
    get:
      tags: [Authors]
      summary: List deleted authors
      operationId: listDeletedAuthors
      description: List authors with deleted_at set.
      x-rateLimit:
        limit: 60
        window: minute
      responses:
        '200':
          description: Deleted authors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.60"
                    message: Deleted authors retrieved successfully.
                    data:
                      authors:
                        - id: 5
                          displayName: "Sample Deleted Author"
                          deletedAt: "2025-02-01T10:00:00.000Z"
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /author/restore:
    post:
      tags: [Authors]
      summary: Restore deleted author
      operationId: restoreAuthor
      description: Restore soft-deleted author by id.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: integer
            examples:
              restore:
                summary: Restore by id
                value:
                  id: 5
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.30"
                    message: Author restored successfully.
                    data:
                      id: 5
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /author/stats:
    get:
      tags: [Authors, Stats]
      summary: Author stats
      operationId: getAuthorStats
      x-rateLimit:
        limit: 20
        window: minute
        note: statsLimiter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorStatsRequest'
            examples:
              default:
                value:
                  fields:
                    - bookCount
                    - percentageOfBooks
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.50"
                    message: Author stats retrieved successfully.
                    data:
                      stats:
                        total: 12
                        deleted: 1
                        deceased: 7
                        alive: 5
                        withBirthDate: 10
                        withDeathDate: 6
                        withBio: 9
                        earliestBirthYear: 1819
                        latestBirthYear: 1995
                        earliestDeathYear: 1892
                        latestDeathYear: 2020
                        aliveDeceasedRatio:
                          alive: 5
                          deceased: 7
                          deceasedToAliveRatio: 1.4
                        mostRepresentedAuthor:
                          id: 1
                          displayName: "J.R.R. Tolkien"
                          bookCount: 6
                          percentageOfBooks: 30.0
                        authorsWithNoBooks:
                          - id: 9
                            displayName: "New Author"
                            createdAt: "2025-02-01T10:10:00.000Z"
                        oldestAuthor:
                          id: 2
                          displayName: "George Eliot"
                          birthYear: 1819
                        youngestAuthor:
                          id: 11
                          displayName: "Contemporary Writer"
                          birthYear: 1995
                        authorDiscoveryTimeline:
                          - id: 1
                            displayName: "J.R.R. Tolkien"
                            createdAt: "2025-01-05T09:00:00.000Z"
                          - id: 2
                            displayName: "George Eliot"
                            createdAt: "2025-01-12T11:00:00.000Z"
                        breakdownPerAuthor:
                          - id: 1
                            displayName: "J.R.R. Tolkien"
                            bookCount: 6
                            percentageOfBooks: 30.0
                          - id: 3
                            displayName: "C.S. Lewis"
                            bookCount: 4
                            percentageOfBooks: 20.0
                        breakdownPerBirthDecade:
                          - decade: 1890
                            authorCount: 3
                            percentageOfAuthors: 25.0
                          - decade: 1950
                            authorCount: 6
                            percentageOfAuthors: 50.0
                        breakdownPerAliveDeceased:
                          - deceased: false
                            authorCount: 5
                            percentageOfAuthors: 41.7
                          - deceased: true
                            authorCount: 7
                            percentageOfAuthors: 58.3
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
  /bookauthor/stats:
    get:
      tags: [Authors, Stats]
      summary: Book-author link stats
      operationId: getBookAuthorStats
      description: Stats on book-author relationships.
      x-rateLimit:
        limit: 20
        window: minute
        note: statsLimiter
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.40"
                    message: Book-author stats retrieved successfully.
                    data:
                      stats:
                        averageAuthorsPerBook: 1.6
                        singleVsMultiBreakdown:
                          totalBooks: 10
                          singleAuthorBooks: 6
                          multiAuthorBooks: 3
                          noAuthorBooks: 1
                          singleAuthorPercentage: 60.0
                          multiAuthorPercentage: 30.0
                          noAuthorPercentage: 10.0
                        contributorDiversity:
                          distinctAuthors: 8
                          totalBooks: 10
                          score: 0.8
                        authorRoleBreakdown:
                          - role: Primary Author
                            count: 7
                            percentage: 58.3
                          - role: Editor
                            count: 3
                            percentage: 25.0
                          - role: Illustrator
                            count: 2
                            percentage: 16.7
                        collaborationPairs:
                          - authors:
                              - id: 1
                                displayName: "J.R.R. Tolkien"
                              - id: 2
                                displayName: "C.S. Lewis"
                            bookCount: 2
                            percentageOfCoauthoredBooks: 66.7
                          - authors:
                              - id: 3
                                displayName: "Neil Gaiman"
                              - id: 4
                                displayName: "Terry Pratchett"
                            bookCount: 1
                            percentageOfCoauthoredBooks: 33.3
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /publisher:
    get:
      tags: [Publishers]
      summary: List or fetch publishers
      operationId: listPublishers
      description: List publishers with filtering or fetch single by id/name. Body accepted for filters and overrides query.
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherListRequest'
            examples:
              listPublishers:
                summary: List publishers with name filter
                value:
                  filterName: press
                  sortBy: name
                  order: asc
                  limit: 10
      responses:
        '200':
          description: Publishers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        oneOf:
                        - $ref: '#/components/schemas/PublisherList'
                        - $ref: '#/components/schemas/Publisher'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.30"
                    message: Publishers retrieved successfully.
                    data:
                      publishers:
                        - id: 5
                          name: Allen & Unwin
                          foundedDate:
                            id: 14
                            year: 1910
                            text: "1910"
                          website: https://example.com
                          notes: Classic literature publisher.
                          createdAt: "2025-01-10T09:15:23.000Z"
                          updatedAt: "2025-01-14T16:58:41.000Z"
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [Publishers]
      summary: Create publisher
      operationId: createPublisher
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherCreate'
            examples:
              create:
                summary: Create publisher
                value:
                  name: HarperCollins
                  foundedDate:
                    year: 1989
                    text: "1989"
                  website: https://harpercollins.example.com
                  notes: Major publisher.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 201
                    responseTime: "3.90"
                    message: Publisher created successfully.
                    data:
                      id: 11
                    errors: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/AuthError'
    put:
      tags: [Publishers]
      summary: Update publisher (by id or name)
      operationId: updatePublisher
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherUpdateFlexible'
            examples:
              update:
                summary: Update by name
                value:
                  targetName: Allen & Unwin
                  website: https://allen-unwin.example.com
                  notes: Updated notes.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "3.20"
                    message: Publisher updated successfully.
                    data:
                      id: 5
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Publishers]
      summary: Delete publisher (by id or name)
      operationId: deletePublisher
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherDeleteFlexible'
            examples:
              delete:
                summary: Delete by id
                value:
                  id: 5
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.48"
                    message: Publisher deleted successfully.
                    data:
                      id: 5
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /publisher/{id}:
    get:
      tags: [Publishers]
      summary: Get publisher by id
      operationId: getPublisherById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                returnStats:
                  type: boolean
      responses:
        '200':
          description: Publisher
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Publisher'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.90"
                    message: Publisher retrieved successfully.
                    data:
                      id: 5
                      name: Allen & Unwin
                      foundedDate:
                        id: 14
                        year: 1910
                        text: "1910"
                      website: https://example.com
                      notes: Classic literature publisher.
                      createdAt: "2025-01-10T09:15:23.000Z"
                      updatedAt: "2025-01-14T16:58:41.000Z"
                      stats:
                        bookCount: 30
                        percentageOfBooks: 25.0
                        avgPageCount: 420.5
                    errors: []
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/AuthError'
    put:
      tags: [Publishers]
      summary: Update publisher by id
      operationId: updatePublisherById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/AuthError'
    delete:
      tags: [Publishers]
      summary: Delete publisher by id
      operationId: deletePublisherById
      x-rateLimit:
        limit: 60
        window: minute
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/AuthError'
  /publisher/by-name:
    get:
      tags: [Publishers]
      summary: Get publisher by name
      operationId: getPublisherByName
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                id:
                  type: integer
                name:
                  type: string
                returnStats:
                  type: boolean
      responses:
        '200':
          description: Publisher
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Publisher'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.70"
                    message: Publisher retrieved successfully.
                    data:
                      id: 6
                      name: HarperCollins
                      foundedDate:
                        id: 21
                        year: 1989
                        text: "1989"
                      website: https://harpercollins.example.com
                      notes: Global publishing house.
                      createdAt: "2025-01-11T10:00:00.000Z"
                      updatedAt: "2025-01-15T16:00:00.000Z"
                      stats:
                        bookCount: 18
                        percentageOfBooks: 15.0
                        avgPageCount: 380.0
                    errors: []
        '404':
          $ref: '#/components/responses/NotFound'
  /publisher/trash:
    get:
      tags: [Publishers]
      summary: List deleted publishers
      operationId: listDeletedPublishers
      x-rateLimit:
        limit: 60
        window: minute
      responses:
        '200':
          description: Deleted publishers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PublisherList'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.40"
                    message: Deleted publishers retrieved successfully.
                    data:
                      publishers:
                        - id: 9
                          name: Old Press
                          deletedAt: "2025-02-01T10:00:00.000Z"
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /publisher/restore:
    post:
      tags: [Publishers]
      summary: Restore deleted publisher
      operationId: restorePublisher
      x-rateLimit:
        limit: 60
        window: minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: integer
            examples:
              restore:
                value:
                  id: 9
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.30"
                    message: Publisher restored successfully.
                    data:
                      id: 9
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /publisher/stats:
    get:
      tags: [Publishers, Stats]
      summary: Publisher stats
      operationId: getPublisherStats
      x-rateLimit:
        limit: 20
        window: minute
        note: statsLimiter
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublisherStatsRequest'
            examples:
              default:
                value:
                  fields: ["publisherBreakdown", "mostUsedPublisher"]
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                success:
                  value:
                    status: success
                    httpCode: 200
                    responseTime: "2.40"
                    message: Publisher stats retrieved successfully.
                    data:
                      stats:
                        total: 12
                        deleted: 1
                        withWebsite: 8
                        publishersWithNoBooks:
                          - id: 9
                            name: Small Indie Press
                            bookCount: 0
                        oldestFoundedPublisher:
                          id: 5
                          name: Allen & Unwin
                          foundedYear: 1910
                        publisherBreakdown:
                          - id: 5
                            name: Allen & Unwin
                            bookCount: 12
                            percentageOfBooks: 30.0
                          - id: 6
                            name: HarperCollins
                            bookCount: 18
                            percentageOfBooks: 45.0
                        mostUsedPublisher:
                          id: 6
                          name: HarperCollins
                          bookCount: 18
                          percentageOfBooks: 45.0
                    errors: []
        '401':
          $ref: '#/components/responses/AuthError'
  /bookseries:
    get:
      tags: [Series]
      summary: List or fetch book series
      operationId: listSeries
[...]
